.form-horizontal{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

/* MENU BOOTSTRAP*/
.navbar-default {
  background-color: #1365d1 !important;
  border: none;
  font-size: 16px;
}


  .form-control-search {
    
    display: inline-block; 
    width: 80%;
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  
}
.btn-search{
    background-color: #ffffff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
  
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bfeff8;
  
}
.navbar-default .navbar-nav > li > .dropdown-menu {
/*  background-color: #ffffff;
*/}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a,.sr-only {
  /*color: #0098dc;*/
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  /*color: #ffffff;
  background-color: #0098dc;*/
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
 /* background-color: #0098dc;*/
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
 /* color: #ffffff;
  background-color: #0098dc;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #ffffff;
  background-color: #0098dc;*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*color: #ffffff;
  background-color: #0098dc;*/
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
  background: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
 background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: #0067ee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
/*  border-color: #0098dc;
*/}
.navbar-default .navbar-link {
/*  color: #0098dc;
*/}
.navbar-default .navbar-link:hover {
/*  color: #ffffff;
*/}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
/*    color: #0098dc;
*/  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
/*    color: #ffffff;
*/  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
 /*   color: #ffffff;
    background-color: #0098dc;*/
  }
}


.form-search{

  margin-left: 5% !important;
}




.card {
	background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  

}
.card-title{
  float: center;
  font-size: 40px;
  border-bottom: 6px solid #43c3ff;
  margin-bottom: 50px;
  padding: 13px 40px;
  color: #2894ff;

}
img {
  width: 100%;
}

[class*="row"] {
	margin-bottom: 10px;
  justify-content: center;
}

[class*="col-"] {
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}
 .contact-info li{
  margin: 10px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15;
}

 .contact-info li i{
  width: 25px;
  height: 25px;
  size: 15px;
  color: rgb(0, 162, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}